<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.or.ddit.ddtown.mapper.audition.AuditionMapper">
 
 	<resultMap type="kr.or.ddit.vo.corporate.audition.AuditionVO" id="auditionMap">
 		<id property="audiNo" column="audi_no"/>
 		<result property="audiNo" column="audi_no"/>
 		<result property="empUsername" column="emp_username"/>
 		<result property="audiTypeCode" column="audi_type_code"/>
 		<result property="audiStatCode" column="audi_stat_code"/>
 		<result property="fileGroupNo" column="file_group_no"/>
 		<result property="audiTitle" column="audi_title"/>
 		<result property="audiContent" column="audi_content"/>
 		<result property="audiStartDate" column="audi_start_date"/>
 		<result property="audiEndDate" column="audi_end_date"/>
 		<result property="audiRegDate" column="audi_reg_date"/>
 		<result property="audiModDate" column="audi_mod_date"/>
 	</resultMap>
 	<select id="auditionList" resultType="kr.or.ddit.vo.corporate.audition.AuditionVO">
 		select AUDI_NO, EMP_USERNAME, AUDI_TYPE_CODE, AUDI_STAT_CODE, FILE_GROUP_NO, AUDI_TITLE, 
 			   AUDI_CONTENT, AUDI_START_DATE, AUDI_END_DATE, AUDI_REG_DATE, AUDI_MOD_DATE
 		from AUDITION
 		order by audi_no desc
 	</select>
 	
 	<select id="detailAudition" parameterType="int" resultMap="auditionMap">
 		select AUDI_NO, EMP_USERNAME, AUDI_TYPE_CODE, AUDI_STAT_CODE, FILE_GROUP_NO, AUDI_TITLE, 
 			   AUDI_CONTENT, AUDI_START_DATE, AUDI_END_DATE, AUDI_REG_DATE, AUDI_MOD_DATE
 		from AUDITION
 		where AUDI_NO = #{audiNo}
 	</select>
 
 </mapper>