<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.or.ddit.ddtown.mapper.goods.IGoodsNoitceMapper">
	 <select id="noticeList" resultType="kr.or.ddit.vo.goods.goodsNoticeVO">
	 	select 
		 	goods_noti_no, 
		 	emp_username, 
		 	file_group_no, 
		 	goods_noti_title, 
		 	goods_noti_content, 			
		 	goods_reg_date, 
		 	goods_mod_date
		from goods_notice
		order by goods_noti_no desc
	 </select>
	 
	 <select id="search" parameterType="kr.or.ddit.vo.goods.goodsNoticeVO" resultType="kr.or.ddit.vo.goods.goodsNoticeVO">
	 	select
	 		goods_noti_no, 
		 	emp_username, 
		 	file_group_no, 
		 	goods_noti_title, 
		 	goods_noti_content, 			
		 	goods_reg_date, 
		 	goods_mod_date
		 from goods_notice
		 where 1=1
		 <if test="title != null and title != ''">
			and goods_noti_title like '%' || #{title} || '%'
		</if>
		order by goods_noti_no desc
	 </select>
	 
	 <select id="selectMainNotice" resultType="kr.or.ddit.vo.goods.goodsNoticeVO">
	 	select
	 		goods_noti_no,
	 		goods_noti_title
	 	from goods_notice
	 	order by goods_reg_date DESC
	 	fetch first 1 rows only
	 </select>
 </mapper>