<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.or.ddit.ddtown.mapper.inquiry.InquiryMapper">
 
 	<select id="getList" parameterType="kr.or.ddit.vo.concert.ConcertVO" resultType="kr.or.ddit.vo.inquiry.InquiryVO">
 		select INQ_NO,
				EMP_USERNAME,
				MEM_USERNAME,
				INQ_TYPE_CODE,
				INQ_STAT_CODE,
				INQ_TITLE,
				INQ_CONTENT,
				INQ_REG_DATE,
				INQ_ANS_CONTENT,
				INQ_ANS_REG_DATE
 		from inquiry
 		where MEM_USERNAME = #{memUsername}
 	</select>
 	
 	<select id="getCodeList" resultType="kr.or.ddit.vo.inquiry.InquiryCodeVO">
 		SELECT COMM_CODE_DET_NO, COMM_CODE_GRP_NO, COMM_CODE_DET_NM, USE_YN, DESCRIPTION
		FROM COMMON_DETAIL_CODE
		WHERE COMM_CODE_GRP_NO = ( SELECT COMM_CODE_GRP_NO
		                            FROM COMMON_CODE_GROUP
		                            WHERE COMM_CODE_GRP_NM = '문의 유형')
 	</select>
 	
 	<select id="getStatCode" resultType="kr.or.ddit.vo.inquiry.InquiryCodeVO">
 		SELECT COMM_CODE_DET_NO, COMM_CODE_GRP_NO, COMM_CODE_DET_NM, USE_YN, DESCRIPTION
		FROM COMMON_DETAIL_CODE
		WHERE COMM_CODE_GRP_NO = ( SELECT COMM_CODE_GRP_NO
		                            FROM COMMON_CODE_GROUP
		                            WHERE COMM_CODE_GRP_NM = '문의 처리 상태')
 	</select>
 	
 	<insert id="insertData" parameterType="kr.or.ddit.vo.inquiry.InquiryVO">
 		<selectKey keyProperty="inqNo" resultType="int" order="BEFORE">
 			select inquiry_seq.nextval from dual
 		</selectKey>
 		insert into inquiry(inq_no, mem_username, inq_type_code, inq_stat_code, inq_title, inq_content, inq_reg_date)
 		values(#{inqNo}, #{memUsername}, #{inqTypeCode}, #{inqStatCode}, #{inqTitle}, #{inqContent}, sysdate)
 	</insert>
 	
 	<select id="getDetail" parameterType="int" resultType="kr.or.ddit.vo.inquiry.InquiryVO">
 		select INQ_NO,
				EMP_USERNAME,
				MEM_USERNAME,
				INQ_TYPE_CODE,
				INQ_STAT_CODE,
				INQ_TITLE,
				INQ_CONTENT,
				INQ_REG_DATE,
				INQ_ANS_CONTENT,
				INQ_ANS_REG_DATE
 		from inquiry
 		where INQ_NO = #{inqNo}
 	</select>
 	
 	<select id="getTypeCode" parameterType="String" resultType="kr.or.ddit.vo.inquiry.InquiryCodeVO">
 		select COMM_CODE_DET_NO, COMM_CODE_GRP_NO, COMM_CODE_DET_NM, USE_YN, DESCRIPTION
		from common_detail_code
		where comm_code_det_no = #{typeCode}
 	</select>
 	
 	<update id="updateData" parameterType="kr.or.ddit.vo.inquiry.InquiryVO">
 		update inquiry set 
 			inq_title = #{inqTitle},
 			inq_content = #{inqContent},
 			inq_type_code = #{inqTypeCode},
 			inq_reg_date = sysdate
 		where 
 			inq_no = #{inqNo}
 	</update>
 	
 	<delete id="deleteData" parameterType="int">
 		delete from inquiry where inq_no = #{inqNo}
 	</delete>
 </mapper>